{% extends 'base.html.twig' %}

{% block body_id 'progression_index' %}
{% block title %}Progressions{% endblock %}

{% block body %}
    <div id="progressionGraph"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><strong>Original source</strong>: <a href="https://docs.google.com/spreadsheets/d/1a8tlZ-zbF695HA3Lmm20OIYeYYxo1lmUOczUXKLoL4s/" rel="nofollow noreferrer">Bodyweight Fitness Progressions</a>, by shellerik</p>

                <p>References:</p>
                <ul>
                    <li><a href="https://docs.google.com/spreadsheets/d/19l4tVfdTJLheLMwZBYqcw1oeEBPRh8mxngqrCz2YnVg/" rel="nofollow noreferrer">Overcoming Gravity 2nd Edition — Exercise Chart</a></li>
                    <li><a href="https://www.reddit.com/r/bodyweightfitness/wiki/kb/recommended_routine" rel="nofollow noreferrer">Reddit Bodyweight Fitness — Recommended Routine</a></li>
                    <li><a href="https://www.reddit.com/r/bodyweightfitness/wiki/playground" rel="nofollow noreferrer">Reddit Bodyweight Fitness — Exercise Wiki</a></li>
                    <li><a href="https://antranik.org/bodyweight-training/" rel="nofollow noreferrer">Antranik — Bodyweight Training</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*var nodes = [
            {% for exercise in exercises %}
            {
                id: '{{ exercise.name_id }}',
                label: '{{ exercise.name }}',
                image: '/img/exercise/{{ exercise.name_id }}.jpg',
                classes: ['{{ exercise.level }}'{% if exercise.milestone %}, 'milestone'{% endif %}],
            },
            {% endfor %}
        ];

        var edges = [
            {% for progression in progressions %}
            { from: '{{ progression.source.nameId }}', to: '{{ progression.target.nameId }}' },
            {% endfor %}
        ];*/
        var nodes = [
            {% for exercise in exercises %}
                { data: { id: '{{ exercise.name_id }}', name: '{{ exercise.name }}' }, image: '/img/exercise/{{ exercise.name_id }}.jpg', classes: ['{{ exercise.level }}'{% if exercise.milestone %}, 'milestone'{% endif %}],
            {# if exercise.name_id == 'german_hang' %}rank: 'min',{% endif #}
            {# if exercise.name_id == 'l-hang' %}
                    position: { x: 500, y: 500 },
                    locked: true,
            {% endif #}
                    grabbable: true, // whether the node can be grabbed and moved by the user
                },
            {% endfor %}
        ];

        var edges = [
            {% for progression in progressions %}
                { data: { source: '{{ progression.source.nameId }}', target: '{{ progression.target.nameId }}' } },
            {% endfor %}
        ];

        var styles = [
                {
                    selector: 'node',
                    style: {
                        'height': 30,
                        'width': 30,
                        //"text-valign": "center",
                        //"text-halign": "center",
                        'color': '#00bc8c',
                        'background-fit': 'cover',
                        'label': 'data(name)'
                    }
                },
                {
                    selector: 'edge',
                    style: {
                        'curve-style': 'bezier',
                        'width': 2,
                        'target-arrow-shape': 'triangle',
                        'line-color': 'white',
                        'target-arrow-color': 'white'
                    }
                },
                {
                    selector: '.milestone',
                    style: {
                        'height': 80,
                        'width': 80,
                        //'border-color': '#00bc8c',
                        //'border-opacity': 0.5,
                        'border-width': 4,
                    }
                },
                {
                    selector: '.beginner',
                    style: {
                        'border-color': '#00bc8c',
                        'background-color': '#00bc8c',
                        'color': '#00bc8c',
                    }
                },
                {
                    selector: '.intermediate',
                    style: {
                        'border-color': '#40c4ff',
                        'background-color': '#40c4ff',
                        'color': '#40c4ff'
                    }
                },
                {
                    selector: '.advanced',
                    style: {
                        'border-color': '#ffd740',
                        'background-color': '#ffd740',
                        'color': '#ffd740'
                    }
                },
                {
                    selector: '.elite',
                    style: {
                        'border-color': '#ff5252',
                        'background-color': '#ff5252',
                        'color': '#ff5252'
                    }
                },
            {% for exercise in exercises %}
                {% if exercise.milestone %}
                {
                    selector: '#{{ exercise.name_id }}',
                    style: {
                        'background-image': '/img/exercise/{{ exercise.name_id }}.jpg'
                    }
                },
                {% endif %}
            {% endfor %}
        ];
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('progression') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('progression') }}
{% endblock %}
