// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

// Make sure the bootstrap-sass and lato fonts are resolved correctly
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$lato-font-path: '~lato-font/fonts';

$theme-colors: (
   "theme": #bf360c
);
$link-color: #f9683a;

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@import '~@fortawesome/fontawesome-free/css/all.css';

// pick the Lato fonts individually to avoid importing the entire font family
@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

.form-control {
  border: 1px solid #616569;
  background-color: #232629;
  color: #d5d6d7;
}

.form-control:focus {
  border: 1px solid #3daee9;
  box-shadow: 0 0 5px #3daee9;
  background-color: #232629;
  color: #d5d6d7;
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
  background-color: #31363b;
}

/* Page elements
   ------------------------------------------------------------------------- */
header .locales {
  min-width: 190px;
}

header .locales a {
  color: #212529;
  padding: 3px 15px;
}

header .locales a small {
  border-radius: 4px;
  border: 2px solid #dee2e6;
  color: #7b8a8b;
  float: left;
  font-size: 12px;
  line-height: 1.1;
  margin: 2px 10px 0 0;
  min-width: 26px;
  padding: 0px 3px;
  text-align: center;
  text-transform: uppercase;
}

header .locales .active small,
header .locales a:hover small {
  color: inherit;
}

#main {
  padding-top: 15px;
  padding-bottom: 15px;
}