#main {
    padding: 0;
}

#audio, #audio-mid, #item_description, #item_evolution {
    display: none;
}

#run_top_body {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#item_description {
    padding-top: 15px;
    padding-left: 30px;
    //padding-right: 30px;
}

#item_evolution {
    padding-top: 15px;
    padding-right: 30px;
}

img.preview, video.preview {
    opacity: 0.5;
}

#item_vid, #item_img {
    max-width: 100%;
    min-height: 0;
    height: auto;
    margin-left: auto !important;
    margin-right: auto !important;
    flex-shrink: 1 !important;
}