<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="icon" type="image/png" href="{{ asset('img/icons/32.png') }}" />
        <title>{% block title %}{% endblock %}{% if block('title') is not empty %} | {% endif %}Movemo</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app-old') }}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="d-flex flex-column h-100">
        {% block body_main %}
            <main role="main" class="flex-shrink-0">
                {% block header %}
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
                        <a class="navbar-brand text-theme" href="{{ path('homepage') }}">Movemo</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item{# active #}">
                                    <a class="nav-link" href="{{ path('routine_index') }}">{{ 'menu.routines'|trans }}{# <span class="sr-only">(current)</span>#}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('exercise_index') }}">{{ 'menu.exercises'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('progression_index') }}">{{ 'menu.skills'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">{{ 'menu.statistics'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="{# path('blog_search') #}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
                                </li>
                                {% if app.user %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                            <i class="fas fa-user" aria-hidden="true"></i>
                                            {{ app.user.username }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                                            <a class="dropdown-item" href="{{ path('user_password') }}"><i class="fas fa-sign-out" aria-hidden="true"></i> {{ 'menu.change_password'|trans }}</a>
                                            {#<li class="divider"></li>#}
                                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}</a>
                                        </div>
                                    </li>
                                {% endif %}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="localesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-globe" aria-hidden="true"></i>
                                        {{ 'menu.choose_language'|trans }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="localesDropdown">
                                        {% for locale in locales() %}
                                            <a class="dropdown-item{% if app.request.locale == locale.code %} active{% endif %}" href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }} <small>{{ locale.code[0:2] }}</small></a>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                {% endblock %}

                {% block body %}
                    <div class="container" id="container">
                        <div class="row">
                            <div id="main" class="col-sm-12">
                                {{ include('default/_flash_messages.html.twig') }}

                                {% block main %}{% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </main>
        {% endblock %}

        {% block footer %}
            <footer id="footer" class="footer mt-auto">
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-lg-12">
                            <p>Movemo &copy; {{ 'now'|date('Y') }}</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app-old') }}
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    </body>
</html>
