<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="manifest" href="{{ asset('manifest.webmanifest') }}"/>
    <meta name="theme-color" content="#009688"/>
    {#<meta name="background-color" content="#000000"/>#}

    {### ICONS ###}
    {# Standard for most desktop browsers #}
    <link rel="icon" type="image/png" href="{{ asset('img/icons/32.png') }}" sizes="32x32"/>

    {# Deprecated: Standard iOS home screen (iPod Touch, iPhone first generation to 3G)
    <link rel="icon" type="image/png" href="{{ asset('img/icons/57.png') }}" sizes="57x57"/>#}

    {# Deprecated: iPad home screen icon
    <link rel="icon" type="image/png" href="{{ asset('img/icons/76.png') }}" sizes="76x76"/>#}

    {# Deprecated: iPad home screen icon
    <link rel="icon" type="image/png" href="{{ asset('img/icons/96.png') }}" sizes="96x96"/>#}

    {# Chrome Web Store icon & Small Windows 8 Star Screen Icon #}
    <link rel="icon" type="image/png" href="{{ asset('img/icons/128.png') }}" sizes="128x128"/>

    {# Google Developer Web App Manifest Recommendation #}
    <link rel="icon" type="image/png" href="{{ asset('img/icons/192.png') }}" sizes="192x192"/>

    {# Deprecated: Opera Coast icon
    <link rel="icon" type="image/png" href="{{ asset('img/icons/228.png') }}" sizes="228x228"/>#}

    {# Chrome for Android home screen icon #}
    <link rel="shortcut icon" type="image/png" sizes="196x196" href="{{ asset('img/icons/196.png') }}"/>

    {# Deprecated: iPhone retina touch icon (Change for iOS 7: up from 114×114)
    <link rel="apple-touch-icon" href="{{ asset('img/icons/120.png') }}" sizes="120x120"/> #}

    {# iPad touch icon (Change for iOS 7: up from 144×144) #}
    <link rel="apple-touch-icon" href="{{ asset('img/icons/152.png') }}" sizes="152x152"/>

    {# iPhone Retina #}
    <link rel="apple-touch-icon" href="{{ asset('img/icons/180.png') }}" sizes="180x180"/>

    {# Windows 8.1 + IE11 and above #}
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}"/>

    {{ redux_store('MovemoStore', initialState) }}
    {% set movemo = react_component_array('MovemoApp') %}
    {% block title %}{{ movemo.title is defined ? movemo.title | raw : '<title>Movemo</title>' }}{% endblock title %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('client') }}
    {% endblock %}
    {# <style type="text/css">{{ movemo.componentStyles | raw }}</style> #}
</head>
<body>
<div id="root">{{ movemo.componentHtml | raw }}</div>

{% block javascripts %}
    {{ encore_entry_script_tags('client') }}
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
</body>
</html>
