{% extends 'base.html.twig' %}

{% block body_id 'routine_view' %}
{% block title %}{% if routine.translate(app.request.locale).name %}{{ routine.translate(app.request.locale).name }}{% else %}{{ routine.translate('en').name }}{% endif %}{% endblock %}

{% block main %}
    <h1>{% if routine.translate(app.request.locale).name %}{{ routine.translate(app.request.locale).name }}{% else %}{{ routine.translate('en').name }}{% endif %}</h1>
    {% if routine.translate(app.request.locale).subname %}
        <p class="lead">{{ routine.translate(app.request.locale).subname }}</p>
    {% elseif routine.translate('en').subname %}
        <p class="lead">{{ routine.translate('en').subname }}</p>
    {% endif %}
    <!--<p class="lead">routine.level.name</p>-->

    {% if routine.translate(app.request.locale).description %}
        <p class="mb-1">{{ routine.translate(app.request.locale).description|md2html }}</p>
    {% elseif routine.translate('en').description %}
        <p class="mb-1">{{ routine.translate('en').description|md2html }}</p>
    {% endif %}

    <p>
        {% if routine.author %}
            <strong>{{ 'label.author'|trans }}{% if app.request.locale == 'fr' %}&#8239;{% endif %}:</strong> {{ routine.author }}<br/>
        {% endif %}
        {% if routine.translate(app.request.locale).license %}
            <strong>{{ 'label.license'|trans }}{% if app.request.locale == 'fr' %}&#8239;{% endif %}:</strong> {% if routine.translate(app.request.locale).licenseUrl %}<a href="{{ routine.translate(app.request.locale).licenseUrl }}" rel="nofollow noreferrer">{% endif %}{{ routine.translate(app.request.locale).license }}{% if routine.translate(app.request.locale).licenseUrl %}</a>{% endif %}
            <br/>
        {% endif %}
        {% if routine.link %}
            <strong>{{ 'label.source'|trans }}{% if app.request.locale == 'fr' %}&#8239;{% endif %}:</strong> <a
                href="{{ routine.link }}" rel="nofollow noreferrer">{{ routine.link }}</a>
        {% endif %}
    </p>

    {% if sessionItems is not empty %}
        <h3>{{ 'label.plan'|trans }} (<span
                    title="Estimation based on 1 rep = 3 sec for reps-oriented exercises. System can't calculate MAX reps exercises">{{ duration }} min<sup>?</sup></span>)
        </h3>
        <a class="btn btn-outline-theme"
           href="{{ path('routine_run', {name_id: routine.nameId}) }}">{{ 'action.start_routine'|trans }}</a>
        <a class="btn btn-outline-secondary disabled" href="#">{{ 'action.export_csv'|trans }}</a>
        <span>&nbsp;</span>
        <strong><i class="fas fa-th-list"></i> {{ 'label.list'|trans }}</strong> / <a href="#"><i
                class="fas fa-th"></i> {{ 'label.grid'|trans }}</a> (coming soon)
        <table class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">{{ 'label.name'|trans }}</th>
                <th scope="col">{{ 'label.current_set'|trans }}</th>
                <th scope="col">{{ 'label.reps_duration'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for sessionItem in sessionItems %}
                {% if sessionItem is iterable %}
                    <tr style="height: 100px">
                        <td class="align-middle" style="padding: 0">
                            {% if sessionItem[0].id is not null %}
                                <div class="img-square"
                                     style="position:relative; overflow:hidden; padding-bottom:100%; width: 100px">
                                    <img class="rounded mx-auto d-block"
                                         src="/img/exercise/{{ sessionItem[0].nameId }}.jpg" alt=""
                                         style="position: absolute; max-width: 100%; max-height: 100%; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);"/>
                                </div>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <select class="form-control progression progression{{ sessionItem[0].sequenceId }}">
                                {% for progressionSessionItem in sessionItem %}
                                    <option>{{ progressionSessionItem.name }}
                                        {% if progressionSessionItem.variant is not null and progressionSessionItem.variant != "" %} — {{ progressionSessionItem.variant }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="align-middle">{% if sessionItem[0].maxSet is not null and sessionItem[0].maxSet > 1 %}Set {{ sessionItem[0].currentSet }}/{{ sessionItem[0].maxSet }}{% endif %}</td>
                        <td class="align-middle"><span
                                    class="badge badge-theme badge-pill">{{ sessionItem[0].quantityFormatted }}</span>
                        </td>
                    </tr>
                {% else %}
                    <tr style="height: 100px">
                        <td class="align-middle" style="padding: 0">
                            {% if sessionItem.id is not null %}
                                <div class="img-square"
                                     style="position:relative; overflow:hidden; padding-bottom:100%; width: 100px">
                                    <img class="rounded mx-auto d-block"
                                         src="/img/exercise/{{ sessionItem.nameId }}.jpg" alt=""
                                         style="position: absolute; max-width: 100%; max-height: 100%; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);"/>
                                </div>
                            {% endif %}
                        </td>
                        <td class="align-middle">{% if sessionItem.id is not null %}<a
                                    href="{{ path('exercise_view', {name_id: sessionItem.nameId}) }}"
                                    class="card-link">{% endif %}
                                {{ sessionItem.name }}
                                {% if sessionItem.id is not null %}</a>{% endif %}
                            {% if sessionItem.variant is not null and sessionItem.variant != "" %}
                                <br/>{{ sessionItem.variant }}{% endif %}</td>
                        <td class="align-middle">{% if sessionItem.maxSet is not null and sessionItem.maxSet > 1 %}Set {{ sessionItem.currentSet }}/{{ sessionItem.maxSet }}{% endif %}</td>
                        <td class="align-middle"><span
                                    class="badge badge-theme badge-pill">{{ sessionItem.quantityFormatted }}</span></td>
                    </tr>
                {% endif %}
            {% else %}
                <div class="well">{{ 'routine.no_routines_found'|trans }}</div>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-theme"
           href="{{ path('routine_run', {name_id: routine.nameId}) }}">{{ 'action.start_routine'|trans }}</a>
        <a class="btn btn-outline-secondary disabled" href="#">{{ 'action.export_csv'|trans }}</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('routine-view') }}
{% endblock %}
