{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ 'title.change_password'|trans }}</h1>

    <div class="alert alert-info" role="alert">{{ 'info.change_password'|trans }}</div>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-outline-theme">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    {{ form_end(form) }}
{% endblock %} 
